#about-content > img {
    margin-right: 20px;
    height: 62vh;
}

#about-content {
    margin: 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#about-text {
    margin-left: 20px;
    width: 500px;
    background-color: rgba(255, 255, 255, .5);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#about-div > h3 {
    margin: 0;
    font-size: 2.5em;
}

#about-text > h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.75em;
}

#about-text > p {
    font-size: 1.25em;
}