main {
    display: flex;
    justify-content: center;
}

#about-div {
    position: relative;
    margin: 0 50px 20px 50px;
}

#about-content>img {
    margin: 25px;
    margin-top: 35px;
    height: 50vh;
    border: 15px #E7D6C0 solid;
    justify-self: end;
}

#about-content {
    background-color: rgba(255, 255, 255, .5);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    align-content: center;
}

#about-text {
    width: 500px;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    justify-self: start;
}

#about-div>h3 {
    position: absolute;
    left: 5%;
    bottom: 95%;
    margin: 0;
}

#about-text>h4 {
    margin: 0 0 20px 0;
}

#about-text>p {
    margin: 10px 0px;
}

@media (max-width: 1100px) {
    #about-content {
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }
    #about-content>img,
    #about-text {
        justify-self: center;
    }
    #about-content>img {
        margin-bottom: 0;
    }
    #about-text {
        width: auto;
    }
    #about-div>h3 {
        bottom: 97%;
    }
}

@media (max-width: 600px) {
    #about-content>img {
        height: 40vh;
        border: 10px #E7D6C0 solid;
    }
    #about-div>h3 {
        bottom: 97.25%;
    }
}

@media (max-width: 420px) {
    #about-content>img {
        height: 25vh;
    }
    #about-div>h3 {
        bottom: 97.5%;
    }
}