#about-div {
    position: relative;
    margin: 0px 50px;
    margin-bottom: 20px;
}

#about-content > img {
    margin: 25px;
    margin-top: 35px;
    height: 50vh;
    border: 15px #E7D6C0 solid;
    justify-self: end;
}

#about-content {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, .5);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    align-content: center;
}

#about-text {
    width: 500px;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    justify-self: start;
}

#about-div > h3 {
    position: absolute;
    left: 5%;
    bottom: 95%;
    margin: 0;
    font-size: 2.5em;
}

#about-text > h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.75em;
}

#about-text > p {
    margin: 10px 0px;
    font-size: 1.25em;
}

@media (max-width: 1200px) {
    #about-content > img {
        height: 45vh;
    }

    #about-text {
        width: 450px;
    }

    #about-div > h3 {
        font-size: 2.35em;
    }

    #about-text > h4 {
        font-size: 1.6em;
    }

    #about-text > p {
        font-size: 1.15em;
    }
}

@media (max-width: 1100px) {
    #about-content {
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }

    #about-content > img {
        justify-self: center;
        height: 50vh;
        grid-row: 1;
        margin-bottom: 0;
    }

    #about-text {
        width: auto;
        justify-self: center;
        grid-row: 2;
    }

    #about-div > h3 {
        bottom: 97%;
    }
}

@media (max-width: 660px) {
    #about-content > img {
        height: 35vh;
    }

    #about-text > h4 {
        font-size: 1.4em;
    }

    #about-text > p {
        font-size: 1em;
    }

    #about-div > h3 {
        font-size: 2.25em;
    }
}

@media (max-width: 510px) {
    #about-content > img {
        border: 10px #E7D6C0 solid;
        height: 21vh;
    }

    #about-text > h4 {
        font-size: 1.25em;
    }

    #about-text > p {
        font-size: .8em;
    }

    #about-div > h3 {
        font-size: 2em;
        bottom: 96.5%;
    }
}