.slide {
    height: 25%;
    padding: 10px;
    margin-top: 10px;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0px 30px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
}