main {
    background-image: url("resized_background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 10px;
}

#commission {
    position: relative;
    border: rgba(255, 255, 255, .5) 15px solid;
    margin: 0px 50px 20px 50px;
}

#commission-content {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    column-gap: 50px;
    padding: 30px;
}

#commission-title {
    margin: 0px;
    position: absolute;
    left: 5%;
    bottom: 96%;
}

#commission-content>img {
    justify-self: end;
    border: #25190C solid 15px;
    height: 50vh;
}

#prices {
    justify-self: start;
}

#prices>h4 {
    margin-top: 0px;
    margin-bottom: 30px;
}

#prices>p {
    margin: 10px 0px;
}

#slides {
    position: relative;
    margin: 30px 50px 10px 50px;
}

.slide {
    padding: 30px;
    padding-top: 50px;
    border: rgba(255, 255, 255, .5) 15px solid;
    display: none;
}

#reviews-title {
    position: absolute;
    bottom: 78%;
    left: 5%;
}

#reviews-title>h3,
#reviews-title>h4 {
    line-height: 85%;
    margin: 0;
}

.quote {
    margin-bottom: 10px;
}

.quote-author {
    margin-top: 0;
}

.quote-author,
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1100px) {
    #commission-title {
        bottom: 97%;
    }
    #reviews-title {
        bottom: 80%;
    }
}

@media (max-width: 700px) {
    #commission-content {
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }
    #commission-content>img {
        justify-self: center;
        margin-bottom: 15px;
    }
    #prices {
        margin: 0px 15px;
        justify-self: start;
    }
    #commission-title {
        bottom: 98%;
    }
}

@media (max-width: 500px) {
    #commission-content>img {
        height: 47vh;
    }
}

@media (max-width: 400px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #slides {
        margin-top: 15px;
    }
    .slide {
        width: 230px;
    }
    #commission-content>img {
        height: 30vh;
    }
    #commission-title {
        bottom: 97.5%;
    }
    #reviews-title {
        bottom: 81%;
    }
    #reviews-title>h4 {
        font-size: 1.2em;
    }
    #prices {
        margin: 0;
    }
}