main {
    background-image: url("resized_background.png");
    background-size: 100% 100%;;
    background-repeat: no-repeat;
}

#slides {
    position: relative;
    margin: 30px 50px;
}

#slides > h3, #slides > h2 {
    font-size: 2.6em;
    position: absolute;
    bottom: 65%;
    left: 5%;
    z-index: 1;
}

#slides > h2 {
    font-size: 1.5em;
}

.slide {
    padding: 50px;
    border: rgba(255, 255, 255, .5) 15px solid;
    display: none;
}

.quote-author, .quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}

.quote-author {
    margin: 0;
    padding: 0px 30px;
}

#commission {
    position: relative;
    border: rgba(255, 255, 255, .5) 15px solid;
    margin: 20px 50px;
}

#commission-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
}

#commission-title {
    margin: 0px;
    font-size: 2.6em;
    position: absolute;
    left: 5%;
    bottom: 97%;
}

#prices {
    margin-bottom: 30px;
    font-size: 1.25em;
}

#commission-content > img {
    border: #25190C solid 15px;
    margin: 20px 30px;
    height: 50vh;
}

#prices > h2 {
    font-size: 1.5em;
}