main {
    display: flex;
    justify-content: center;
}
#contact-root {
    margin: 0px 50px;
    margin-bottom: 20px;
    position: relative;
}

#contact-root > h3 {
    margin: 0;
    font-size: 2.5em;
    position: absolute;
    left: 5%;
    bottom: 95%;
}

#contact-content {
    padding: 10px;
    border: rgba(255, 255, 255, .5) 15px solid;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

#contact-content > img {
    height: 72vh;
    margin: 25px;
    justify-self: end;
}

#contact-div {
    justify-self: start;
}

form {
    display: flex;
    flex-direction: column;
}

label, p, button {
    font-size: 1.20em;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    border: none;
    background-color: rgba(255, 255, 255, .5);
    width: 520px;
    margin-bottom: 10px;
}

textarea {
    height: 150px;
}

button {
    border: none;
    width: 100px;
    background-color: #D48C70;
    cursor: pointer;
    padding: 5px;
}

#social-links {
    width: 80px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 8px;
}

#social-links > a > img {
    width: 40px;
}

#social-title {
    margin-top: 25px;
    margin-bottom: 10px;
}

@media (max-width: 1250px) {
    #contact-content > img {
        height: 60vh;
    }

    input, textarea {
        width: 450px;
    }

    #contact-root > h3 {
        bottom: 94%;
    }
}

@media (max-width: 1100px) {
    #contact-content {
        grid-template-rows: auto auto;
        grid-template-columns: none;
    }

    #contact-div {
        margin: 25px;
    }

    #contact-root > h3 {
        bottom: 97.25%;
        font-size: 2.25em;
    }

    #contact-content > img {
        justify-self: center
    }

    input, textarea {
        width: 450px;
    }

    #contact-div {
        justify-self: center;
    }
}

@media (max-width: 600px) {
    #contact-content > img {
        height: 47vh;
    }

    #contact-div {
        margin: 25px;
    }

    #contact-root > h3 {
        font-size: 2em;
    }

    #contact-content > img {
        justify-self: center
    }

    input, textarea {
        width: 350px;
    }

    #contact-div {
        justify-self: center;
    }

    label, p, button, #social-title {
        font-size: 1em;
    }
}

@media (max-width: 400px) {
    #contact-content > img {
        margin: 15px;
        height: 30vh;
    }

    #contact-root > h3 {
        bottom: 97%;
    }

    input, textarea {
        width: 260px;
    }

    #contact-div {
        margin: 15px;
    }
}