main {
    display: flex;
    justify-content: center;
}

#contact-root {
    margin: 0px 50px 20px 50px;
    position: relative;
}

#contact-root>h3 {
    margin: 0;
    position: absolute;
    left: 5%;
    bottom: 95%;
}

#contact-content {
    padding: 10px;
    border: rgba(255, 255, 255, .5) 15px solid;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    align-content: center;
}

#contact-content>img {
    height: 72vh;
    margin: 25px;
    justify-self: end;
}

#contact-div {
    justify-self: start;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input,
textarea {
    border: none;
    background-color: rgba(255, 255, 255, .5);
    width: 520px;
    margin-bottom: 10px;
}

textarea {
    height: 150px;
}

button {
    border: none;
    width: 100px;
    background-color: #D48C70;
    cursor: pointer;
    padding: 5px;
}

#social-links {
    width: 80px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 8px;
}

#social-links>a>img {
    width: 40px;
}

#social-title {
    margin-top: 25px;
    margin-bottom: 10px;
}

@media (max-width: 1100px) {
    #contact-content {
        grid-template-rows: auto auto;
        grid-template-columns: none;
    }
    #contact-div {
        margin: 25px;
    }
    #contact-root>h3 {
        bottom: 97.25%;
    }
    #contact-content>img,
    #contact-div {
        justify-self: center
    }
    input,
    textarea {
        width: 450px;
    }
}

@media (max-width: 600px) {
    #contact-content>img {
        height: 47vh;
    }
    #contact-div {
        margin: 25px;
    }
    input,
    textarea {
        width: 350px;
    }
}

@media (max-width: 400px) {
    #contact-content>img {
        margin: 15px;
        height: 30vh;
    }
    #contact-root>h3 {
        bottom: 97%;
    }
    input,
    textarea {
        width: 260px;
    }
    #contact-div {
        margin: 15px;
    }
}