main {
    background-image: url("paintlines.png");
    background-position: top left;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

#homepage {
    height: 72vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#outline {
    width: 800px;
    height: 400px;
    border: 15px solid rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

#covergirl {
    height: 72vh;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

#homepage-content {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    bottom: 30%;
    left: 85%;
    z-index: 2;
}

.homepage-txt {
    margin: 5px 0px;
    font-size: 2em;
}

#wow {
    line-height: 85%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    font-size: 10em;
    margin: 0;
    color: white;
} 

@media(max-width: 1000px) {
    #homepage {
        height: 110vh;
    }

    #outline {
        margin-top: 15px;
        width: 500px;
        height: 650px;
    }

    #homepage-content {
        bottom: 67%;
        left: 30%;
        align-items: flex-end;
    }

    #wow {
        font-size: 9em;
    }

    #covergirl {
        height: 70vh;
    }

    .homepage-txt {
        font-size: 1.85em;
    }
}

@media(max-width: 500px) {
    #outline {
        margin-top: 15px;
        width: 375px;
        height: 650px;
    }

    #homepage-content {
        bottom: 70%;
        left: 12%;
    }

    #wow {
        font-size: 8em;
    }

    #covergirl {
        height: 68vh;
    }

    .homepage-txt {
        font-size: 1.80em;
    }
}

@media(max-width: 380px) {
    #outline {
        width: 300px;
        height: 650px;
    }

    #homepage-content {
        bottom: 70%;
        left: 12%;
    }

    #wow {
        font-size: 7.5em;
    }

    #covergirl {
        height: 66vh;
    }

    .homepage-txt {
        font-size: 1.75em;
    }
}
