main {
    background-image: url("paintlines.png");
    background-position: top left;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

#homepage {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#homepage-img {
    display: flex;
    justify-content: flex-end;
}

#covergirl {
    height: 72vh;
}

#homepage-content {
     display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    /* background-color: rgba(231, 214, 192, .7);
    border: 3px solid #25190C; */

    padding: 20px;
    margin: 0px 100px;
}

.homepage-txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    margin: 10px 0px;
    font-size: 2em;
}

.wow {
    display: flex;
    align-items: flex-start;
    font-size: 5em;
    margin-top: 30px;
}