body {
    margin: 0;
    background-color: #E7D6C0;
}

.sans-font, .serif-font {
    font-weight: 400;
    color: #25190C;
}

.sans-font {
    font-family: "Lato", sans-serif;
}

.serif-font {
    font-family: "Playfair Display", serif;
}

header {
    width: 100vw;
    position: fixed;
    z-index: 5;
}

#header-logo, #tagline, #navlinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

nav {
    background-color: #D48C70;
}

#navlinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.navlink > a {
    color: #25190C;
    padding: 20px 15px 10px 15px;
    display: block;
}

.navlink > a:hover {
    color: #E7D6C0;
}

#header-logo {
    padding: 15px 0px 0px 0px;
}

#header-logo > h1 {
    margin: 0;
    font-size: 3em;
}

#tagline > img {
    width: 30px;
}

#tagline > h2 {
    font-size: 1em;
    padding: 0px 5px;
}

#header-logo, #tagline {
    background-color: rgba(231, 214, 192, .7);
}

header + main {
    padding-top: 200px;
}

#footer {
    background-color: #D48C70;
    margin-top: 10px;
    padding: 10px 20px;
}

#footer > p {
    font-size: .75em;
    margin: 0;
}

#menu-button {
    display: none;
}

@media(max-width: 1000px) {
    header {
        border-top: #D48C70 15px solid;
        background-color: rgba(231, 214, 192, .7);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #header-logo {
        background: none;
    }

    #title-tagline {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #tagline {
        background: none;
    }

    header + main {
        padding-top: 150px;
    }

    nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
    }

    #navlinks {
        flex-direction: column;
    }

    .navlink {
        width: 100%;
        text-align: center;
        border-top: 1px solid #E7D6C0;
    }

    .navlink > a {
        padding: 20px 15px;
    }

    nav.open {
        display: block;
    }

    #menu-button {
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
    }

    #menu-button :hover {
        background-color: #D48C70;
    }

}

@media (max-width: 500px) {
    #header-logo > h1 {
       font-size: 2em;
    }

    #menu-button {
        top: 20%;
    }

    #navlinks {
        font-size: .95em;
    }

    #tagline > img {
        width: 20px;
    }
    
    #tagline > h2 {
        font-size: .95m;
    }
}