body {
    margin: 0;
    background-color: #E7D6C0;
}

.sans-font {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #25190C;
}

.serif-font {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    color: #25190C;
}

header {
    width: 100vw;
    position: fixed;
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

nav {
    background-color: #D48C70;
}

#navlinks {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 1em;
}

.navlink > a {
    color: #25190C;
    padding: 20px 15px 10px 15px;
    display: block;
}

.navlink > a:hover {
    color: #E7D6C0;
}

#header-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 0px 0px;
}

#header-logo > h1 {
    padding: 0px 10px;
    margin: 0;
    font-size: 3em;
}

#tagline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#tagline > img {
    width: 30px;
}

#tagline > h2 {
    font-size: 1em;
    padding: 0px 5px;
}

#header-logo, #tagline {
    background-color: rgba(231, 214, 192, .7);
}

header + main {
    padding-top: 200px;
}

main {
    flex-grow: 2;
}

#footer {
    background-color: #D48C70;
    margin-top: 10px;
    padding: 10px 20px;
}

#footer > p {
    font-size: 75%;
    margin: 0;
}