body {
    margin: 0;
    background-color: #E7D6C0;
}

.sans-font,
.serif-font {
    font-weight: 400;
    color: #25190C;
}

.sans-font {
    font-family: "Lato", sans-serif;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.75em;
}

p,
label,
button {
    font-size: 1.25em;
}

.serif-font {
    font-family: "Playfair Display", serif;
}

header {
    width: 100vw;
    position: fixed;
    z-index: 5;
    background-color: rgba(231, 214, 192, .7);
}

#header-logo,
#tagline,
#navlinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header-logo {
    padding: 15px 0px 0px 0px;
}

#header-logo>h1 {
    margin: 0;
    font-size: 3em;
}

#tagline>img {
    width: 30px;
}

#tagline>h2 {
    padding: 0px 5px;
}

header+main {
    padding-top: 200px;
}

#tagline>h2,
#navlinks {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

nav,
#dropdown-content {
    background-color: #D48C70;
}

#navlinks,
#dropdown-content {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navlink>a,
#portfolio,
#dropdown-content>a {
    color: #25190C;
    padding: 20px 15px 10px 15px;
}

.navlink>a,
#portfolio,
#dropdown-content>a,
#portfolio-dropdown:hover #dropdown-content {
    display: block;
}

.navlink>a:hover,
#portfolio:hover,
#dropdown-content>a:hover {
    color: #E7D6C0;
}

#menu-button,
#dropdown-content {
    display: none;
}

#portfolio {
    cursor: pointer;
}

#dropdown-content {
    position: absolute;
    font-size: .8em;
}

#dropdown-content>a {
    border-top: 1px solid #25190C;
}

#footer {
    background-color: #D48C70;
    margin-top: 10px;
    padding: 10px 20px;
}

#footer>p {
    font-size: .75em;
    margin: 0;
}

@media(max-width: 1100px) {
    header {
        border-top: #D48C70 15px solid;
    }
    header+main {
        padding-top: 170px;
    }
    #menu-button {
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 30%;
        padding: 10px;
    }
    #menu-button:hover {
        background-color: #D48C70;
    }
    nav {
        background-color: rgba(231, 214, 192, .7);
        border-right: 1px solid #D48C70;
        border-bottom: 1px solid #D48C70;
        position: absolute;
        top: 100%;
        left: 0;
        transform: translateX(-100%);
        transition: transform .3s linear;
    }
    nav.open {
        transform: translateX(0px);
    }
    #navlinks {
        flex-direction: column;
    }
    .navlink {
        width: 100%;
        text-align: center;
        border-top: 1px solid #D48C70;
    }
    .navlink>a,
    #portfolio {
        padding: 20px 15px;
    }
    .navlink>a:hover,
    #portfolio:hover {
        color: white;
    }
    #dropdown-content {
        left: 100%;
        top: 16.5%;
        font-size: .9em;
    }
    #dropdown-content>a {
        border-top: 1px solid #E7D6C0;
    }
    #portfolio-dropdown:hover #dropdown-content {
        display: none;
    }
    #menu-button,
    #portfolio-dropdown #dropdown-content.expand {
        display: block;
    }
    h3 {
        font-size: 2.25em;
    }
    h4 {
        font-size: 1.6em;
    }
}

@media (max-width: 600px) {
    #header-logo>h1 {
        font-size: 2em;
    }
    #navlinks {
        font-size: .95em;
    }
    #tagline>img {
        width: 20px;
    }
    #tagline>h2,
    #navlinks {
        font-size: .95em;
    }
    h3 {
        font-size: 2em;
    }
    h4 {
        font-size: 1.3em;
    }
    p,
    label,
    button {
        font-size: 1em;
    }
}