main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
main > img {
    width: 350px;
    margin: 5px;
}

@media (max-width: 500px) {
    main > img {
        width: 250px;
    }
}
