main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 50px;
}
main > img {
    height: 400px;
    margin: 5px;
}

@media (max-width: 500px) {
    main > img {
        height: 250px;
    }
}

@media (max-width: 380px) {
    main > img {
        height: 200px;
    }
}
